#!/usr/bin/env python3
# -*- coding: utf-8 -*-

config = {
  'logging': {
    'level': 10,
    'format': '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  },
  'telegram': {
    'access_token': '{{ tg_bot_password }}',
    'token': '{{ tg_bot_token }}',
    'allowed_users': [],
    'blocked_users': [],
    'admins': []
  }
}
